<ion-view view-title="{{ 'Contact_us_side_menu' | translate }}">

<head>


</head>

<ion-content>
	<section id="hero">
  <div id="mast">
    <h1><img src="img/Exboat.png"/></h1>
    <h2 style = "color: #FFF;">Travel Around Chaophraya River.</h2>
  </div>
</section>


<section id="fullGrid">
  <div class="fullGridItem">
    <img src="img/contactus/contact.jpg">
  </div><div class="fullGridItem">
      <img src="img/contactus/contact2.jpg">
  </div><div class="fullGridItem">
      <img src="img/contactus/contact3.jpg">
  </div><div class="fullGridItem">
      <img src="img/contactus/contact4.jpg">
  </div><div class="fullGridItem">
      <img src="img/contactus/contact5.jpg">
  </div><div class="fullGridItem">
      <img src="img/contactus/contact6.jpg">
  </div><div class="fullGridItem">
        <img src="img/contactus/contact7.jpg">
  </div><div class="fullGridItem">
        <img src="img/contactus/contact8.jpg">
  </div><div class="fullGridItem">
        <img src="img/contactus/contact9.jpg">
  </div><div class="fullGridItem">
        <img src="img/contactus/contact10.jpg">
  </div><div class="fullGridItem">
          <img src="img/contactus/contact11.jpg">
  </div><div class="fullGridItem">
          <img src="img/contactus/contact12.jpg">
  </div>
</section>

<section id="con">

	<h2 style = "color: #FFF; font-family: 'thaisans_neueregular', Calibri, Arial, sans-serif;">{{"Follow_us_on" | translate}}</h2>
</br>
  <button class="button button-positive icon ion-social-facebook" onclick="window.open('http://www.facebook.com/ChaophrayaExBoat', '_blank', 'location=yes'); return false;"></button> 
  <button class="button button-positive icon ion-social-twitter"></button>
</section>

</ion-content>

</ion-view>
