  <ion-view view-title="Map">
  <head>
    <title>Map</title>
  
  </head>

        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-help-buoy" ng-click = "popmappointopen()"></button>
        </ion-nav-buttons>

  <body>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate" >Find Me</a>
    </ion-footer-bar>

    


  </body>
</ion-view>
