<ion-view view-title="All Piers">

      <ion-header-bar class="bar-positive">

                <button class="button button-icon button-clear ion-help-buoy" ng-click = "popmappointclose()"></button>

          <h1 class="title">Point</h1>
      </ion-header-bar>
      
      <ion-content>
        <ion-slide-box>
          <ion-slide>
            <div class="box">
               
		<div class="container">
			<header class="clearfix" style="color:#47a3da">
				<span>ExBoat</span>
				<h1 style="color:#47a3da">เรือด่วนธงฟ้า</h1>
			</header>	
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N13</span> <span>ท่าพระอาทิตย์</span></time>
						<div class="cbp_tmicon ion-help-buoy blink_me"></div>
						<div class="cbp_tmlabel" >
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>N10</span> <span>ท่าวังหลัง (พรานนก)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>N9s</span> <span>ท่ามหาราช</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>N9</span> <span>ท่าช้าง</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
						
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>N8</span> <span>ท่าเตียน</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N5</span> <span>ท่าราชวงศ์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N3</span> <span>ท่าสี่พระยา</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>

					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N1</span> <span>ท่าโอเรียนเท็ล</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>CENTRAL</span> <span>ท่าสาทร (ตากสิน)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
				</ul>
			</div>
		</div>
	
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container">
			<header class="clearfix" style="color:#FF6600">
				<span>ExBoat</span>
				<h1 style="color:#FF6600">เรือด่วนธงส้ม</h1>
			</header>	
			<div class="main">
				<ul class="cbp_orangetimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N30</span> <span>ท่านนทบุรี(พิบูลย์3)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>N29/1</span> <span>ท่าพระราม 5</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>N24</span> <span>ท่าพระราม 7</span></time>
						<div class="cbp_tmicon ion-help-buoy blink_me"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>N22</span> <span>ท่าบางโพ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>N21</span> <span>ท่าเกียกกาย</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N18</span> <span>ท่าพายัพ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N16</span> <span>ท่าสะพานกรุงธน (ซังฮี้)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>

					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N15</span> <span>ท่าเทเวศร์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N13</span> <span>ท่าพระอาทิตย์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N12</span> <span>ท่าพระปิ่นเกล้า</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>N10</span> <span>ท่าวังหลัง (พรานนก)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N9</span> <span>ท่าช้าง</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>N8</span> <span>ท่าเตียน</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N6</span> <span>ท่าสะพานพุทธ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N5</span> <span>ท่าราชวงศ์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N4</span> <span>ท่ากรมเจ้าท่า</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N3</span> <span>ท่าสี่พระยา</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
						
						</div>
					</li>

					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N1</span> <span>ท่าโอเรียนเท็ล</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>CENTRAL</span> <span>ท่าสาทร (ตากสิน)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>T2</span> <span>ท่าวัดวธจรรยาวาส</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>T3</span> <span>ท่าราชสิงขร</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							
						</div>
					</li>
					
				</ul>
			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <h2>Box #3</h2>
                <p>Content goes here</p>
            </div>
          </ion-slide>
        </ion-slide-box>
     </ion-content>
</ion-view>