<ion-view view-title="{{ 'Map_Schedule_side_menu' | translate }}">
	  <ion-content>
		
  
      
        <ion-slide-box>
          <ion-slide>
            <div class="box">
               
		<div class="container">
			<header class="clearfix" style="color:#696969">
				<h1 style="color:#696969">{{"Normal_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_normaltimeline">
					<div class="item item-divider row">
					    <div class="col col-30">รหัส</div>
					  	<div class="col col-60">ท่าเรือ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">ท่านนทบุรี(พิบูลย์3)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N29</div>
					  	<div class="col col-60">ท่าพิบูลย์สงคราม 2</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N28</div>
					  	<div class="col col-60">ท่าวัดเขียน</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N27</div>
					  	<div class="col col-60">ท่าวัดตึก</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N26</div>
					  	<div class="col col-60">ท่าวัดเขมา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N25</div>
					  	<div class="col col-60">ท่าพิบูลย์สงคราม 1</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">ท่าพระราม 7</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N23</div>
					  	<div class="col col-60">ท่าวัดสร้อยทอง</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">ท่าบางโพ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N21</div>
					  	<div class="col col-60">ท่าเกียกกาย</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N20</div>
					  	<div class="col col-60">ท่าเขียวไข่กา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N19</div>
					  	<div class="col col-60">ท่ากรมชลประทาน</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N18</div>
					  	<div class="col col-60">ท่าพายัพ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N17s</div>
					  	<div class="col col-60">ท่าเทพากร</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N17</div>
					  	<div class="col col-60">ท่าเทพนารี</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">ท่าสะพานกรุงธน (ซังฮี้)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">ท่าเทเวศร์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N14</div>
					  	<div class="col col-60">ท่าพระราม 8</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">ท่าพระอาทิตย์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">ท่าพระปิ่นเกล้า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N11</div>
					  	<div class="col col-60">ท่ารถไฟ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">ท่าวังหลัง (พรานนก)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">ท่าช้าง</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">ท่าเตียน</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N7</div>
					  	<div class="col col-60">ท่าราชินี</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N6</div>
					  	<div class="col col-60">ท่าสะพานพุทธ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">ท่าราชวงศ์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N4</div>
					  	<div class="col col-60">ท่ากรมเจ้าท่า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">ท่าสี่พระยา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N2</div>
					  	<div class="col col-60">ท่าวัดม่วงแค</div>
					  </div>
					   <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">ท่าโอเรียนเท็ล</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">ท่าสาทร (ตากสิน)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T1</div>
					  	<div class="col col-60">ท่าเศวตฉัตร</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T2</div>
					  	<div class="col col-60">ท่าวธรรยาวาส</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T3</div>
					  	<div class="col col-60">ท่าวัดราชสิงขร</div>
					  </div>
				</ul>
				<br>
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-25">บริการ</div>
					  	<div class="col col-25">เส้นทาง</div>
					  	<div class="col col-60">ออกทุก(นาที)</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">06.45-07.30(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">16.00-16.30(25)</div>
					  </div>
				</ul>
				

			</div>
		</div>
	
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container">
			<header class="clearfix" style="color:#FF6600">
				<h1 style="color:#FF6600">{{"Orange_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_orangetimeline">
					<div class="item item-divider row">
					    <div class="col col-30">รหัส</div>
					  	<div class="col col-60">ท่าเรือ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">ท่านนทบุรี(พิบูลย์3)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N29s</div>
					  	<div class="col col-60">ท่าพระราม 5</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">ท่าพระราม 7</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">ท่าบางโพ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N21</div>
					  	<div class="col col-60">ท่าเกียกกาย</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N18</div>
					  	<div class="col col-60">ท่าพายัพ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">ท่าสะพานกรุงธน (ซังฮี้)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">ท่าเทเวศร์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">ท่าพระอาทิตย์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">ท่าพระปิ่นเกล้า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">ท่าวังหลัง (พรานนก)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">ท่าช้าง</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">ท่าเตียน</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N6</div>
					  	<div class="col col-60">ท่าสะพานพุทธ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">ท่าราชวงศ์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N4</div>
					  	<div class="col col-60">ท่ากรมเจ้าท่า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">ท่าสี่พระยา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">ท่าโอเรียนเท็ล</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">ท่าสาทร (ตากสิน)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T2</div>
					  	<div class="col col-60">ท่าวธรรยาวาส</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T3</div>
					  	<div class="col col-60">ท่าวัดราชสิงขร</div>
					  </div>
				</ul>
				<br>
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-25">บริการ</div>
					  	<div class="col col-25">เส้นทาง</div>
					  	<div class="col col-60">ออกทุก(นาที)</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">ส.อา.นข.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">06.00-19.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">06.00-08.00(12)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">08.00-09.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">09.00-15.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">15.00-16.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">T3-N30</div>
					  	<div class="col col-60">16.00-19.00(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">ส.อา.นข.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">06.00-19.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">05.50-07.00(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">07.00-08.00(5)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">08.00-09.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">09.00-15.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">15.00-18.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-T3</div>
					  	<div class="col col-60">18.00-19.00(20)</div>
					  </div>
				</ul>
			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container">
			<header class="clearfix" style="color:#EEEE00">
				<h1 style="color:#EEEE00">{{"Yellow_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_yellowtimeline">
					<div class="item item-divider row">
					    <div class="col col-30">รหัส</div>
					  	<div class="col col-60">ท่าเรือ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">ท่านนทบุรี(พิบูลย์3)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">ท่าพระราม 7</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">ท่าบางโพ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">ท่าเทเวศร์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">ท่าพระปิ่นเกล้า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">ท่าวังหลัง (พรานนก)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">ท่าราชวงศ์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">ท่าสี่พระยา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">ท่าสาทร (ตากสิน)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">T4</div>
					  	<div class="col col-60">ท่าราษฎร์บูรณะ (บิ๊กซี)</div>
					  </div>
				</ul>
				<br>
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-25">บริการ</div>
					  	<div class="col col-25">เส้นทาง</div>
					  	<div class="col col-60">ออกทุก(นาที)</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">06.15-07.00(8)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">17.00-17.30(5)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">08.00-08.20(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">CE-N30</div>
					  	<div class="col col-60">16.45-17.00</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">CE-N30</div>
					  	<div class="col col-60">19.00-20.00</div>
					  </div>
				</ul>

			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container">
			<header class="clearfix" style="color:#228B22">
				<h1 style="color:#228B22">{{"Green_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_greentimeline">
					<div class="item item-divider row">
					    <div class="col col-30">รหัส</div>
					  	<div class="col col-60">ท่าเรือ</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N33</div>
					  	<div class="col col-60">ท่าปากเกร็ด</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N32</div>
					  	<div class="col col-60">ท่าวัดกลางเกร็ด</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N31</div>
					  	<div class="col col-60">ท่ากระทรวงพาณิชย์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">ท่านนทบุรี(พิบูลย์3)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">ท่าพระราม 7</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">ท่าสะพานกรุงธน (ซังฮี้)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">ท่าเทเวศร์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">ท่าพระปิ่นเกล้า</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">ท่าวังหลัง (พรานนก)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">ท่าช้าง</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">ท่าราชวงศ์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">ท่าสี่พระยา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">ท่าสาทร (ตากสิน)</div>
					  </div>
				</ul>
				<br>
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-25">บริการ</div>
					  	<div class="col col-25">เส้นทาง</div>
					  	<div class="col col-60">ออกทุก(นาที)</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">N33-CE</div>
					  	<div class="col col-60">06.10-8.10(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">จ. - ศ.</div>
					  	<div class="col col-25">CE-N33</div>
					  	<div class="col col-60">16.05-18.05(20)</div>
					  </div>
				</ul>

			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container">
			<header class="clearfix" style="color:#47a3da">
				<h1 style="color:#47a3da">{{"Blue_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-30">รหัส</div>
					  	<div class="col col-60">ท่าเรือ</div>
					  	
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">ท่าพระอาทิตย์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">ท่าวังหลัง (พรานนก)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9s</div>
					  	<div class="col col-60">ท่ามหาราช</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">ท่าเตียน</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">ท่าราชวงศ์</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">ท่าสี่พระยา</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">ท่าโอเรียนเท็ล</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">ท่าสาทร (ตากสิน)</div>
					  </div>
				</ul>
				<br>
				<ul class="cbp_tmtimeline">
					  <div class="item item-divider row">
					    <div class="col col-25">บริการ</div>
					  	<div class="col col-25">เส้นทาง</div>
					  	<div class="col col-60">ออกทุก(นาที)</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">ทุกวัน</div>
					  	<div class="col col-25">CE-N13</div>
					  	<div class="col col-60">09.30-17.00</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">ทุกวัน</div>
					  	<div class="col col-25">CE-T1</div>
					  	<div class="col col-60">16.00-17.30</div>
					  </div>
				</ul>
			</div>
		</div>
            </div>
          </ion-slide>
        </ion-slide-box>
     </ion-content>
</ion-view>