<ion-view view-title="{{ 'Map_Schedule_side_menu' | translate }}">
	  <ion-content>
		  
        <ion-slide-box>
          <ion-slide>
            <div class="box">
               
		<div class="container" style = "background-color : #C0C0C0 ;">
			<header class="clearfix" style="color:#696969">
				<h1 style="color:#696969">{{"Normal_flag" | translate}}</h1>
			</header>	
			<div class="main">
					<div class="item item-divider row">
					    <div class="col col-30">{{"Code" | translate}}</div>
					  	<div class="col col-60">{{"Pier" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">{{"Nonthaburi_Pibul3" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N29</div>
					  	<div class="col col-60">{{"Pibul2" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N28</div>
					  	<div class="col col-60">{{"Watkien" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N27</div>
					  	<div class="col col-60">{{"Wattuek" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N26</div>
					  	<div class="col col-60">{{"Watkhema" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N25</div>
					  	<div class="col col-60">{{"Pibul1" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">{{"Rama7" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N23</div>
					  	<div class="col col-60">{{"Watsoithong" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">{{"Bangpo" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N21</div>
					  	<div class="col col-60">{{"Kjakkai" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N20</div>
					  	<div class="col col-60">{{"Kheawkhaika" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N19</div>
					  	<div class="col col-60">{{"Irrigationdept" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N18</div>
					  	<div class="col col-60">{{"Payap" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N17</div>
					  	<div class="col col-60">{{"Watthepnahree" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">{{"Krungthonburibridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">{{"Thewej" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N14</div>
					  	<div class="col col-60">{{"Rama8" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">{{"Phraarthit" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">{{"Phrapinklaobridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N11</div>
					  	<div class="col col-60">{{"Thonburirailway" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">{{"Wanglang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">{{"Thachang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">{{"Thatien" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N7</div>
					  	<div class="col col-60">{{"Rajinee" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N6</div>
					  	<div class="col col-60">{{"Memorialbridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">{{"Rajchawongse" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N4</div>
					  	<div class="col col-60">{{"Marinedept" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">{{"Siphraya" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N2</div>
					  	<div class="col col-60">{{"Watmuangkae" | translate}}</div>
					  </div>
					   <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">{{"Oriental" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">{{"Sathorn" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S1</div>
					  	<div class="col col-60">{{"Watsawetachat" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S2</div>
					  	<div class="col col-60">{{"Watworachanyawas" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S3</div>
					  	<div class="col col-60">{{"Watrajsingkorn" | translate}}</div>
					  </div>
				<br>
					  <div class="item item-divider row">
					    <div class="col col-25">{{"Service" | translate}}</div>
					  	<div class="col col-25">{{"Route" | translate}}</div>
					  	<div class="col col-60">{{"Out_time" | translate}}</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">06.45-07.30(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">16.00-16.30(25)</div>
					  </div>
				

			</div>
		</div>
	
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container" style = "background-color : #FFCC33 ;">
			<header class="clearfix" style="color:#FF6600">
				<h1 style="color:#FF6600">{{"Orange_flag" | translate}}</h1>
			</header>	
			<div class="main">
					<div class="item item-divider row">
					    <div class="col col-30">{{"Code" | translate}}</div>
					  	<div class="col col-60">{{"Pier" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">{{"Nonthaburi_Pibul3" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N29s</div>
					  	<div class="col col-60">{{"Rama5" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">{{"Rama7" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">{{"Bangpo" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N21</div>
					  	<div class="col col-60">{{"Kjakkai" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N18</div>
					  	<div class="col col-60">{{"Payap" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">{{"Krungthonburibridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">{{"Thewej" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">{{"Phraarthit" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">{{"Phrapinklaobridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">{{"Wanglang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">{{"Thachang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">{{"Thatien" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N6</div>
					  	<div class="col col-60">{{"Memorialbridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">{{"Rajchawongse" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N4</div>
					  	<div class="col col-60">{{"Marinedept" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">{{"Siphraya" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">{{"Oriental" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">{{"Sathorn" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S2</div>
					  	<div class="col col-60">{{"Watworachanyawas" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S3</div>
					  	<div class="col col-60">{{"Watrajsingkorn" | translate}}</div>
					  </div>
				<br>
					  <div class="item item-divider row">
					    <div class="col col-25">{{"Service" | translate}}</div>
					  	<div class="col col-25">{{"Route" | translate}}</div>
					  	<div class="col col-60">{{"Out_time" | translate}}</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"S_S_N" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">06.00-19.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">06.00-08.00(12)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">08.00-09.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">09.00-15.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">15.00-16.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">S3-N30</div>
					  	<div class="col col-60">16.00-19.00(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"S_S_N" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">06.00-19.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">05.50-07.00(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">07.00-08.00(5)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">08.00-09.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">09.00-15.00(20)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">15.00-18.00(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-S3</div>
					  	<div class="col col-60">18.00-19.00(20)</div>
					  </div>
			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container" style = "background-color : #FFFF66 ;">
			<header class="clearfix" style="color:#EEEE00">
				<h1 style="color:#EEEE00">{{"Yellow_flag" | translate}}</h1>
			</header>	
			<div class="main">
					<div class="item item-divider row">
					   <div class="col col-30">{{"Code" | translate}}</div>
					  	<div class="col col-60">{{"Pier" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">{{"Nonthaburi_Pibul3" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">{{"Rama7" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N22</div>
					  	<div class="col col-60">{{"Bangpo" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">{{"Thewej" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">{{"Phrapinklaobridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">{{"Wanglang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">{{"Rajchawongse" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">{{"Siphraya" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">{{"Sathorn" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">S4</div>
					  	<div class="col col-60">{{"Rajburana" | translate}}</div>
					  </div>
				<br>
					  <div class="item item-divider row">
					    <div class="col col-25">{{"Service" | translate}}</div>
					  	<div class="col col-25">{{"Route" | translate}}</div>
					  	<div class="col col-60">{{"Out_time" | translate}}</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">06.15-07.00(8)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">17.00-17.30(5)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N30-CE</div>
					  	<div class="col col-60">08.00-08.20(10)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">CE-N30</div>
					  	<div class="col col-60">16.45-17.00</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">CE-N30</div>
					  	<div class="col col-60">19.00-20.00</div>
					  </div>
			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container" style = "background-color : #99CC66 ;">
			<header class="clearfix" style="color:#228B22">
				<h1 style="color:#228B22">{{"Green_flag" | translate}}</h1>
			</header>	
			<div class="main">
					<div class="item item-divider row">
					    <div class="col col-30">{{"Code" | translate}}</div>
					  	<div class="col col-60">{{"Pier" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N33</div>
					  	<div class="col col-60">{{"Pakkret" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N32</div>
					  	<div class="col col-60">{{"Watklangkret" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N31</div>
					  	<div class="col col-60">{{"Ministryofcommerce" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N30</div>
					  	<div class="col col-60">{{"Nonthaburi_Pibul3" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N24</div>
					  	<div class="col col-60">{{"Rama7" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N16</div>
					  	<div class="col col-60">{{"Krungthonburibridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N15</div>
					  	<div class="col col-60">{{"Thewej" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N12</div>
					  	<div class="col col-60">{{"Phrapinklaobridge" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">{{"Wanglang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9</div>
					  	<div class="col col-60">{{"Thachang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">{{"Rajchawongse" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">{{"Siphraya" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">{{"Sathorn" | translate}}</div>
					  </div>
				<br>
					  <div class="item item-divider row">
					    <div class="col col-25">{{"Service" | translate}}</div>
					  	<div class="col col-25">{{"Route" | translate}}</div>
					  	<div class="col col-60">{{"Out_time" | translate}}</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">N33-CE</div>
					  	<div class="col col-60">06.10-8.10(15)</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"M_F" | translate}}</div>
					  	<div class="col col-25">CE-N33</div>
					  	<div class="col col-60">16.05-18.05(20)</div>
					  </div>
			</div>
		</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
                <div class="container" style = "background-color : #87CEFA ;">
			<header class="clearfix" style="color:#47a3da">
				<h1 style="color:#47a3da">{{"Blue_flag" | translate}}</h1>
			</header>	
			<div class="main">
					  <div class="item item-divider row">
					    <div class="col col-30">{{"Code" | translate}}</div>
					  	<div class="col col-60">{{"Pier" | translate}}</div>
					  	
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N13</div>
					  	<div class="col col-60">{{"Phraarthit" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N10</div>
					  	<div class="col col-60">{{"Wanglang" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N9s</div>
					  	<div class="col col-60">{{"Maharaj" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N8</div>
					  	<div class="col col-60">{{"Thatien" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N5</div>
					  	<div class="col col-60">{{"Rajchawongse" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N3</div>
					  	<div class="col col-60">{{"Siphraya" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">N1</div>
					  	<div class="col col-60">{{"Oriental" | translate}}</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-30">CENTRAL</div>
					  	<div class="col col-60">{{"Sathorn" | translate}}</div>
					  </div>
				<br>
					  <div class="item item-divider row">
					    <div class="col col-25">{{"Service" | translate}}</div>
					  	<div class="col col-25">{{"Route" | translate}}</div>
					  	<div class="col col-60">{{"Out_time" | translate}}</div>

					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"E" | translate}}</div>
					  	<div class="col col-25">CE-N13</div>
					  	<div class="col col-60">09.30-17.00</div>
					  </div>
					  <div class="item row">
					  	<div class="col col-25">{{"E" | translate}}</div>
					  	<div class="col col-25">CE-S1</div>
					  	<div class="col col-60">16.00-17.30</div>
					  </div>
			</div>
		</div>
            </div>
          </ion-slide>
        </ion-slide-box>
     </ion-content>
</ion-view>