<ion-view view-title="{{ 'Search_side_menu' | translate }}">
  <ion-content class ="padding scroll-bg">

  <head>
    <meta charset="utf-8">
    <title>
      Search
    </title>
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
          
    </style>


     <script id="popup.html" type="text/ng-template">
      <label class="item item-radio" ng-repeat="item in Blist">
        <input type="radio" name="group" ng-model="selectedItem" ng-value="item.id">
        <div class="item-content">{{ item.title }}</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </script>

    
  </head>
  <body ng-controller="PopupCtrl" class = "searchbody">
        <div class="container">
                      <br><br>
          <div class="row" style="position:absolute; top:4em;">
              <button class="col button button-positive btn md" ng-click="showBegin()">{{"Start" | translate}}</button>
           <input class="col col-75" id = "input1" value ="{{ data.Blist }}">
           </input>
          </div> 
            <br>

            
            <div class="row">
              <div class="col text-center">
                <div class="pulse1"></div>
                <div class="iconmenu" ng-click="popopenflag()"></div>
                <!--<img ng-src = "img/go.png" ng-click="popopenflag()">-->
              </div>
            </div>
 
           <div class="row" style="position:absolute; bottom:4em;">
              <button class="col button button-positive btn md" ng-click="showDest()">{{"To" | translate}}</button>
               <input class="col col-75" id ="input2" value ="{{ data.Dlist }}"></input>
           </div>
          



      </div>
  </body>
  </ion-content>
 
</ion-view>


