<ion-view view-title="Search">
  <ion-content>

  <head>
    <meta charset="utf-8">
    <title>
      Search
    </title>
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">


     <script id="popup.html" type="text/ng-template">
      <label class="item item-radio" ng-repeat="item in Blist">
        <input type="radio" name="group" ng-model="selectedItem" ng-value="item.id">
        <div class="item-content">{{ item.title }}</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </script>

    
  </head>
  <body class="padding" ng-controller="PopupCtrl">
        <div class="container">
          <br><br><br><br><br>
           <button class="button button-block button-positive" ng-click="showBegin()">
            ต้นทาง
           </button>
           <br>
           <input class="item item-divider" id = "input1" value ="{{ data.Blist }}">
           </input>
            <br><br>

           <button class="button button-block button-positive" ng-click="popopenflag()" >
           เลือกธงเดินทาง
           </button> 
           </div>
           
           <br><br>
           <input class="item item-divider" id = "input2" value ="{{ data.Dlist }}">
           </input>
           <br>
           <button class="button button-block button-positive" ng-click="showDest()">
            ปลายทาง
           </button> 
  



         
  </body>
  </ion-content>
</ion-view>


