<ion-view view-title="Search">
  <ion-content>

    <h1>เลือกท่าเรือ</h1>
  <head>
    <meta charset="utf-8">
    <title>
      Search
    </title>
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">


     <script id="popup.html" type="text/ng-template">
      <label class="item item-radio" ng-repeat="item in Blist">
        <input type="radio" name="group" ng-model="selectedItem" ng-value="item.id">
        <div class="item-content">{{ item.title }}</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </script>

    
  </head>
  <body class="padding" ng-controller="PopupCtrl">
        <div class="container">
           <button class="button button-positive" ng-click="showBegin()">
            ต้นทาง
           </button>  
           <div class="item item-divider">
            ท่าต้นทางที่คุณเลือก: {{ data.Blist }}
           </div>
            <br>

    
           <button class="button button-positive" ng-click="showDest()">
            ปลายทาง
           </button> 
           <div class="item item-divider">
            ท่าปลายทางที่คุณเลือก: {{ data.Dlist }}
           </div>
  

           <button class="button button-positive" ng-click="popopenflag()">
           เลือกธงเดินทาง
           </button> 
           </div>
  </body>
  </ion-content>
</ion-view>
