<ion-view view-title="ExBoat">
<ion-content>

<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Orange Line</title>
		<meta name="description" content="Blueprint: Vertical Timeline" />
		<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="css/component_orange.css" />	
	</head>
	<body>
		<div class="container">
			<header class="clearfix" style="color:#FF6600">
				<span>ExBoat</span>
				<h1 style="color:#FF6600">{{"Orange_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_orangetimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N30</span> <span>ท่านนทบุรี(พิบูลย์3)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่านนทบุรี(พิบูลย์3)</h2>
							<p>ท่าน้ำนนทบุรี หรือ ท่าน้ำนนท์ หรือ ท่าน้ำพิบูลสงคราม 3 เป็นท่าน้ำริมแม่น้ำเจ้าพระยาหลายท่าใกล้เคียงกัน ตั้งอยู่บริเวณหน้าศาลากลางจังหวัดนนทบุรีหลังเก่าและหอนาฬิกาจังหวัดนนทบุรี ถนนประชาราษฎร์ เขตเทศบาลนครนนทบุรี จังหวัดนนทบุรี ประกอบด้วยท่าเรือด่วนเจ้าพระยาและท่าเรือข้ามฟาก เป็นท่าเรือที่มีเรือด่วนเจ้าพระยาทุกสายมาจอด เนื่องจากเป็นจุดเชื่อมต่อการคมนาคมระหว่างอำเภอปากเกร็ด อำเภอเมืองนนทบุรี และกรุงเทพมหานคร</p>
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>N29/1</span> <span>ท่าพระราม 5</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าพระราม 5</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>N24</span> <span>ท่าพระราม 7</span></time>
						<div class="cbp_tmicon ion-help-buoy blink_me"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าพระราม 7</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>N22</span> <span>ท่าบางโพ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าบางโพ</h2>
							<p>Peanut gourd nori welsh onion rock melon mustard jícama. Desert raisin amaranth kombu aubergine kale seakale brussels sprout pea. Black-eyed pea celtuce bamboo shoot salad kohlrabi leek squash prairie turnip catsear rock melon chard taro broccoli turnip greens. Fennel quandong potato watercress ricebean swiss chard garbanzo. Endive daikon brussels sprout lotus root silver beet epazote melon shallot.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>N21</span> <span>ท่าเกียกกาย</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าเกียกกาย</h2>
							<p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N18</span> <span>ท่าพายัพ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าพายัพ</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N16</span> <span>ท่าสะพานกรุงธน (ซังฮี้)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าสะพานกรุงธน (ซังฮี้)</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>

					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N15</span> <span>ท่าเทเวศร์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าเทเวศร์</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N13</span> <span>ท่าพระอาทิตย์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าพระอาทิตย์</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>N12</span> <span>ท่าพระปิ่นเกล้า</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าพระปิ่นเกล้า</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>N10</span> <span>ท่าวังหลัง (พรานนก)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าวังหลัง (พรานนก)</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N9</span> <span>ท่าช้าง</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าช้าง</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>N8</span> <span>ท่าเตียน</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าเตียน</h2>
							<p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N6</span> <span>ท่าสะพานพุทธ</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าสะพานพุทธ</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N5</span> <span>ท่าราชวงศ์</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าราชวงศ์</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>N4</span> <span>ท่ากรมเจ้าท่า</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่ากรมเจ้าท่า</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N3</span> <span>ท่าสี่พระยา</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าสี่พระยา</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>

					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>N1</span> <span>ท่าโอเรียนเท็ล</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าโอเรียนเท็ล</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>CENTRAL</span> <span>ท่าสาทร (ตากสิน)</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าสาทร (ตากสิน)</h2>
							<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>T2</span> <span>ท่าวัดวธจรรยาวาส</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าวัดวธจรรยาวาส</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>T3</span> <span>ท่าราชสิงขร</span></time>
						<div class="cbp_tmicon ion-help-buoy"></div>
						<div class="cbp_tmlabel">
							<h2 style="color:#fff">ท่าราชสิงขร</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</body>
</html>
</ion-content>
</ion-view>

