 <ion-view view-title="ExBoat">

<ion-content>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Yellow Line</title>
		<link rel="stylesheet" type="text/css" href="css/component_yellow.css" />
	</head>
	<body>
		<div class="container">
			<header class="clearfix" style="color:#EEEE00">
				<button class="button button-block button-positive" ng-click = "add()">{{"Open_Noti" | translate}}</button>
				<br>
				<span>ExBoat</span>
				<br>
				<h1 style="color:#EEEE00">{{"Yellow_flag" | translate}}</h1>
			</header>	
			<div class="main">
				<ul class="cbp_yellowtimeline">
					<li>
						<time class="cbp_tmtime"><span>N30</span> <span>{{"Nonthaburi_Pibul3" | translate}}</span></time>


						<div ng-init = "checkblink30(13.842068,100.491147)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink30 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink30 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink30 < 0.2 && diffforblink30 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn30()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Nonthaburi_Pibul3" | translate}}</h2>
							<p>{{"Nonthaburi_Pibul3_desc" | translate}}</p>
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N24</span> <span>{{"Rama7" | translate}}</span></time>


						<div ng-init = "checkblink24(13.812884,100.513469)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink24 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink24 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink24 < 0.2 && diffforblink24 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn24()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Rama7" | translate}}</h2>
							<p>{{"Rama7_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N22</span> <span>{{"Bangpo" | translate}}</span></time>


						<div ng-init = "checkblink22(13.806427,100.518826)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink22 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink22 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink22 < 0.2 && diffforblink22 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn22()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Bangpo" | translate}}</h2>
							<p>{{"Bangpo_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N15</span> <span>{{"Thewej" | translate}}</span></time>


						<div ng-init = "checkblink15(13.772132,100.500097)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink15 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink15 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink15 < 0.2 && diffforblink15 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn15()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Thewej" | translate}}</h2>
							<p>{{"Thewej_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N12</span> <span>{{"Phrapinklaobridge" | translate}}</span></time>


						<div ng-init = "checkblink12(13.763006,100.490625)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink12 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink12 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink12 < 0.2 && diffforblink12 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn12()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Phrapinklaobridge" | translate}}</h2>
							<p>{{"Phrapinklaobridge_desc" | translate}}</p>
							
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N10</span> <span>{{"Wanglang" | translate}}</span></time>


						<div ng-init = "checkblink10(13.756003,100.486950)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink10 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink10 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink10 < 0.2 && diffforblink10 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn10()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Wanglang" | translate}}</h2>
							<p>{{"Wanglang_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N5</span> <span>{{"Rajchawongse" | translate}}</span></time>


						<div ng-init = "checkblink5(13.738621,100.504260)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink5 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink5 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink5 < 0.2 && diffforblink5 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn5()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Rajchawongse" | translate}}</h2>
							<p>{{"Rajchawongse_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>N3</span> <span>{{"Siphraya" | translate}}</span></time>


						<div ng-init = "checkblink3(13.728414,100.513182)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink3 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink3 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink3 < 0.2 && diffforblink3 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn3()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Siphraya" | translate}}</h2>
							<p>{{"Siphraya_desc" | translate}}</p>
						</div>
					</li>

					<li>
						<time class="cbp_tmtime"><span>CENTRAL</span> <span>{{"Sathorn" | translate}}</span></time>


						<div ng-init = "checkblink0(13.718858,100.512720)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink0 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblink0 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblink0 < 0.2 && diffforblink0 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyn0()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Sathorn" | translate}}</h2>
							<p>{{"Sathorn_desc" | translate}}</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>S4</span> <span>{{"Rajburana" | translate}}</span></time>


						<div ng-init = "checkblinkt4(13.685184,100.500157)">
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblinkt4 > 0.2"></div>
							<div class="cbp_tmicon ion-help-buoy" ng-if="diffforblinkt4 == 0"></div>
							<div class="cbp_tmicon ion-help-buoy blink_me" ng-if="diffforblinkt4 < 0.2 && diffforblinkt4 > 0">
									<div ng-if = "diff < 0.2">
										<div ng-init = "notifyt4()"></div>
									</div>
							</div>
						</div>


						<div class="cbp_tmlabel">
							<h2 style="color:#fff">{{"Rajburana" | translate}}</h2>
							<p>{{"Rajburana_desc" | translate}}</p>
						</div>
					</li>
				</ul>
			</div>

			<div class="row" >
	               your current Latitude: {{lat}} <br />
	               your current Longitude: {{lng}} <br />
	               Distance from your destination to current location: {{diff}} km<br />
	               Accuracy: {{accuracy}}<br />
	               Distance between pier30 to current: {{diffforblink30}}<br />
	               Distance between pier24 to current: {{diffforblink24}}<br />
	               Distance between pier22 to current: {{diffforblink22}}<br />
	               Distance between pier15 to current: {{diffforblink15}}<br />
	               Distance between pier12 to current: {{diffforblink12}}<br />
	               Distance between pier10 to current: {{diffforblink10}}<br />
	               Distance between pier5 to current: {{diffforblink5}}<br />
	               Distance between pier3 to current: {{diffforblink3}}<br />
	               Distance between pier0 to current: {{diffforblink0}}<br />
	               Distance between piert4 to current: {{diffforblinkt4}}<br />
            	</div><br/>
		</div>
	</body>
</ion-content>
</ion-view>

