<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{"User_guide" | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="popcloseinfor()">Close</button>
    </div>
   
  </ion-header-bar>
  <ion-content>
    <ion-list>
        <div class="card">
            <ion-item>
             <span>{{"User_guide_1" | translate}}</span>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/ZP1uAdOExxQ" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
            <span>{{"User_guide_2" | translate}}</span>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/XxlddwbAvss" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
    </ion-list>
    <p>{{"User_guide_3" | translate}}</p></br>
    <p>{{"User_guide_4" | translate}}</p>
</ion-content>
</ion-modal-view>
