<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{"User_guide" | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="popcloseinfor()">Close</button>
    </div>
   
  </ion-header-bar>
  <ion-content>
  <button class = "button button-clear icon ion-android-bicycle"></button>
  <button class = "button button-clear icon ion-android-bus"></button>
  <button class = "button button-clear icon ion-android-subway"></button>
  <button class = "button button-clear icon ion-android-car"></button>

    
  </ion-content>
</ion-modal-view>
